/* App.css */
.App {
  font-family: Arial, sans-serif;
  color: #333;
  padding-top: 50px;
}

header {
  text-align: center;
  padding: 2rem 0;
}

section {
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  margin-bottom: 1rem;
  text-align: center;
}

#home {
  background-color: #f0f0f0;
}

#projects,
#experience,
#skills,
#contact {
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

html {
  scroll-behavior: smooth;
}
